In [8]:
import pandas as pd
import numpy as np
import sys
import re

# global config

In [3]:
case_home = '/global/cscratch1/sd/zhangtao/E3SM/'
cases = ['20220120.ne30pg2_EC30to60E2r2.ml_BCU.F2010',
        '20220120.ne30pg2_EC30to60E2r2.dilute_dcape.F2010']

# parameters

In [59]:
p_names = ['ice_sed_ai', 'clubb_c1','clubb_gamma_coef','zmconv_tau','zmconv_dmpdz']

p_dataset = pd.DataFrame()

for c in cases:
    c_path = case_home+c+"/run/atm_in"
    print(c)
    tmp = {}
    for pn in p_names:
        val_str = os.popen(f'grep -w {pn} {c_path}').read().split('=')[1]
        val = float(val_str)
        tmp[pn] = val
    tmp = pd.DataFrame(tmp,index=[c])
    p_dataset = pd.concat([p_dataset,tmp])

20220120.ne30pg2_EC30to60E2r2.ml_BCU.F2010
20220120.ne30pg2_EC30to60E2r2.dilute_dcape.F2010

In [60]:
p_dataset

,ice_sed_ai,clubb_c1,clubb_gamma_coef,zmconv_tau,zmconv_dmpdz
20220120.ne30pg2_EC30to60E2r2.ml_BCU.F2010,500.0,2.4,0.12,3600.0,-0.0007
20220120.ne30pg2_EC30to60E2r2.dilute_dcape.F2010,500.0,2.4,0.12,3600.0,-0.0007

# metrics

In [63]:
seasons = ['ANN','DJF','MAM','JJA','SON']
seasons = ['ANN']
mets = ['LWCF','PRECT','PSL','RELHUM','SWCF','TREFHT','U200','U850','Z500']

diag_home = "/global/cfs/cdirs/e3sm/www/golaz/E3SM/QBO/"
diag_suffix = "20210813.F2010.ne30pg2_oECv3.chrysalis/e3sm_diags/atm_monthly_180x360_aave/model_vs_obs_0011-0020/viewer/table-data/ANN_metrics_table.csv"

In [74]:
met_dataset = pd.DataFrame()
for i in range(1,3):
    tmp = {}
    diag_path = f'{diag_home}workdir.{i}/{diag_suffix}'
    diag_data = pd.read_csv(diag_path)
    var_names = diag_data['Variables'].values
    dataset = diag_data['RMSE'].values
    for vn,data in zip(var_names,dataset):
        tmp[vn] = data
    tmp = pd.DataFrame(tmp, index=['workdir.'+str(i)])
    met_dataset = pd.concat([met_dataset,tmp])

In [75]:
met_dataset

,PRECT global GPCP_v2.2,PRECT global GPCP_v2.3,TREFHT land_60S90N CRU,RESTOM global ceres_ebaf_toa_v4.1,FLUT global ceres_ebaf_toa_v4.1,FSNTOA global ceres_ebaf_toa_v4.1,FLNS global ceres_ebaf_surface_v4.1,FSNS global ceres_ebaf_surface_v4.1,LHFLX global OAFlux,SHFLX global OAFlux,...,FLNS global MERRA2,NET_FLUX_SRF global MERRA2,PRECT global MERRA2,TAUXY ocean MERRA2,TREFHT global ERA5,TREFHT land ERA5,TREFHT global MERRA2,TREFHT land MERRA2,PminusE global GPCP_OAFLux,PminusE global COREv2_Flux
workdir.1,1.711,1.703,2.186,7.057,11.766,13.770,10.650,15.665,31.155,7.700,...,10.752,21.727,1.508,0.02,1.357,2.177,1.227,2.023,1.277,1.555
workdir.2,1.817,1.809,2.079,9.113,13.726,17.554,12.879,19.838,31.420,7.803,...,10.150,21.151,1.578,0.02,1.348,2.159,1.191,1.944,1.315,1.593

# surrogate